<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>E:\app_resources\maven-repository</localRepository>

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>

    <!-- Maven 仓库镜像加速 -->
    <mirrors>
        <mirror>
            <id>central</id>
            <name>central</name>
            <mirrorOf>*,!github</mirrorOf>
            <url>http://maven.aliyun.com/nexus/content/groups/public</url>
        </mirror>
    </mirrors>

    <!-- Maven 仓库 -->
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>https://repo1.maven.org/maven2/</url>
                </repository>
                <repository>
                    <id>github</id>
                    <name>GitHub AmosWang0626 Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/AmosWang0626/common</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <!-- Github仓库访问账号密码 -->
    <servers>
        <server>
            <id>github</id>
            <username>AmosWang0626</username>
            <password>de8fd5ae29835464b24cbb1ebb51a86964749082</password>
        </server>
    </servers>

</settings>